name: ci
on:
  pull_request:
    branches:
      - main

env:
  RUST_BACKTRACE: 1

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-latest
    needs: [pre-commit]
    strategy:
      matrix:
        channel: [stable, nightly]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
      - uses: Swatinem/rust-cache@v2
      - name: Run cargo test (all-features)
        run: cargo test --all --all-targets --all-features
